
.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml

.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml

.metadata/.lock

.gitignore

.metadata/.mylyn/repositories.xml.zip

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index

.metadata/.plugins/org.eclipse.core.resources/.root/1.tree

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version

.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources

.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv

.metadata/.plugins/org.eclipse.dltk.core/Containers.dat

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs

.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version

.settings/org.eclipse.wst.jsdt.ui.superType.name

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.php.core.prefs

.settings/.jsdtscope

.project

.buildpath
/.settings